.footer{

    background:#000308;

    color:#fff;

    padding:80px 5% 25px;
}

.footer-container{

    display:grid;

    grid-template-columns:2fr 1fr 1fr 1fr 1.4fr;

    gap:60px;
}

.footer-about img{

    width:180px;

    margin-bottom:20px;
}

.footer-about p{

    color:#c7d2fe;

    line-height:1.8;

    margin-bottom:30px;
}

.footer-social{

    display:flex;

    gap:15px;
}

.footer-social a{

    width:42px;

    height:42px;

    border-radius:50%;

    display:flex;

    align-items:center;

    justify-content:center;

    background:rgba(255,255,255,.08);

    color:#fff;

    transition:.3s;
}

.footer-social a:hover{

    background:#ff6b35;

    transform:translateY(-5px);
}

.footer-links h4,
.footer-contact h4{

    margin-bottom:22px;

    font-size:1.15rem;
}

.footer-links{

    display:flex;

    flex-direction:column;

    gap:14px;
}

.footer-links a{

    color:#c7d2fe;

    text-decoration:none;

    transition:.3s;
}

.footer-links a:hover{

    color:#e96231;

    padding-left:6px;
}

.footer-contact p{

    display:flex;

    gap:12px;

    align-items:flex-start;

    color:#c7d2fe;

    margin-bottom:18px;

    line-height:1.7;
}

.footer-bottom{

    margin-top:60px;

    padding-top:25px;

    border-top:1px solid rgba(255,255,255,.08);

    text-align:center;

    color:#9fb0d1;
}

@media(max-width:1100px){

.footer-container{

grid-template-columns:repeat(2,1fr);

}
}

@media(max-width:768px){

.footer{

padding:60px 20px;
}

.footer-container{

grid-template-columns:1fr;

gap:40px;
}
}